/*  */

/*  */
.two-column-container{
  display: flex;
  justify-content: space-between;
}

.form-column{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}


.attendance-button, .add-student-button{
  padding: 10px 20px;
  background-color: #c5935d; /* Adjust button color as needed */
  width: fit-content;
  height: fit-content;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: max-content;
  margin-top: 10px;
}


@media (max-width: 900px) {
  .two-column-container{
    flex-direction: column;
  }
}