/* GoldParticleEffect.css */

/* Variable for particle color */
/* --color: #ffd700; */

/* Styles for the particle */
.gold-particle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color);
  box-shadow: 0 0 50px var(--color);
  animation: scale-up 15s linear infinite;
}

/* Keyframes for the particle animation */
@keyframes scale-up {
  0%, 95.01%, 100% {
    transform: translate(-50%, -50%) translateZ(0) rotate(0);
    opacity: 0;
  }
  10% { 
    opacity: 1; 
  }
  95% {
    transform: translate(-50%, -50%) translateZ(35vmin);
  }
}
