/* Navbar.css */

/* Set the background color of the navbar container */
.container-fluid {
  background-color: transparent; /* Set navbar background color to transparent */
  padding-top: 1px;
  padding-right: 20px;
}

/* Set background image */
.container-fluid::before {
  content: '';
  background: url('/public/utsav-logo.jpg') center/cover fixed no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: contain;
}

/* Set the color and position of the brand */
.navbar-brand {
  color: #c5935d;
  margin-left: 10px;
  font-family: 'Abril Fatface', serif;
  font-weight: 800;
  font-size: 30px;
  padding: 0 15px;
}

/* Remove hover effect on navbar brand */
.navbar-brand:hover {
  color:#c5935d;
}

/* Style the sidebar */
.sidebar {
  color: black;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #c5935d;
  box-shadow: 0px 0px 20px rgb(20, 14, 14);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
}

/* Show the sidebar when it's open */
.sidebar.open {
  right: 0;
}

/* Style the close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* Style the user info */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style the user details */
.user-details {
  font-size: 0.9rem;
}

.user-details p {
  margin: 5px 0;
}

/* Style the additional options */
.additional-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.signout-button {
  margin-bottom: 10px;
  background-color: black;
  color: #c5935d;
  border: black;
  padding: 5px;
  font-weight: 700;
}

/* Remove margin and padding from the body */
body {
  margin: 0;
  padding: 0;
}

/* Style the sidebar content */
.user-info {
  padding: 10px;
}

.name {
  font-size: 24px;
}

.position {
  font-weight: bold;
}

.email {
  font-size: 12px;
}

.usn {
  font-size: 16px;
}

/* Navbar.css */

@media (max-width: 900px) {
  .d-none {
    display: none !important;
  }
}

.user-profile-icon,
.user-name {
  margin-bottom: 5px;
}

.hamburger-icon {
  background-color: black;
  color: #c5935d;
  border: none;
  padding: 0;
  margin-right: 0.1px;
  font-size: 1.5rem;
}