/* Navbar.css */

/* Set the background color of the navbar container */
.container-fluid {
  background-color: #00000000;
  padding-top: 1px;
  padding-right: 20px;
}

/* Set the color and position of the brand */
.navbar-brand {
  color: #c5935d;
  /* position: absolute; */
  margin-left: 10px;
  font-family: 'Abril Fatface', serif;
  font-weight: 800;
  font-size: 30px;
  padding: 0 15px;
}

/* Remove hover effect on navbar brand */
.navbar-brand:hover {
  color:#c5935d;/* Keep the same color as default state */
}

.user-profile-icon {
  margin-top: 0px;
  color: #c5935d; /* Adjusted margin */
}

.user-name {
  /* margin-top: 0.001rem; */
  color: #c5935d;
}

/* Style the sidebar */
.sidebar {
  color: black;
  position: fixed;
  top: 0;
  right: -300px; /* Initially hidden outside the screen */
  width: 300px; /* Adjust the width as needed */
  height: 100%;
  background-color:#c5935d;/* Set the background color */
  box-shadow: 0px 0px 20px rgb(20, 14, 14); /* Add a drop shadow effect */
  transition: right 0.3s ease; /* Transition for smooth slide-in animation */
  z-index: 1000; /* Ensure it's on top of other content */
  padding: 20px; /* Add padding to the sidebar content */
}

/* Show the sidebar when it's open */
.sidebar.open {
  right: 0;
}

/* Style the close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* Style the user info */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style the user details */
.user-details {
  font-size: 0.9rem;
}

.user-details p {
  margin: 5px 0;
}

/* Style the additional options */
.additional-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.signout-button{
  margin-bottom: 10px;
  background-color: black;
  color:#c5935d;
  ;
  font-weight: 700;
}

/* Remove margin and padding from the body */
body {
  margin: 0;
  padding: 0;
}

/* Style the sidebar content */
.user-info {
  padding: 10px; /* Add padding to the sidebar content */
}

.name {
  font-size: 24px; /* Big font for name */
}

.position {
  font-weight: bold; /* Bold font for position */
  
}

.email {
  font-size: 12px; /* Small font for email */
}

.usn {
  font-size: 16px; /* Medium font for USN */
}

/* Navbar.css */

@media (max-width: 900px) {
  .d-none {
    display: none !important;
  }
}

/* Navbar.css */

.user-profile-icon,
.user-name {
  margin-bottom: 5px;
}


.hamburger-icon {
  background-color: black;
  color:#c5935d;;
  border: none;
  padding: 0;
  margin-right:0.1px;
  font-size: 1.5rem;
}
